#navbar {
  background-color: #ffc107;
  width: 100%;
}
.welcome {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
}

#road {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

#road span {
  color: #ffc107;
}
